# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual C++
*.ncb
*.exp
*.ilk
*.user
*.dep
*.manifest
*.pdb
*.obj
*.exe
*.idb
flux.lib
freetype2411.lib
freetype2411_D.lib
说明.txt
Flux/lib/lua-5.2.1/Debug/*
Flux/lib/lua-5.2.1/Release/*
